/* body{
    background-color: black;
    color: white;
}
.flex{
    margin:auto;
}
.logo img{
    filter: invert(1);
}
.second{
    border-left: 1px solid white;
    border-right: 1px solid white;
} */